<mat-drawer class="bg-transparent lg:w-100 md:w-full bg-white-100" #drawer [opened]="false" mode="over"
    [position]="'end'" [disableClose]="false">
    <mat-card>
        <div class="flex flex-col w-full text-gray-700 max-w-140 filter-article filter-interactive">
            <div class="bg-slate-600 text-justify m-2 p-2 text-white h-10 text-2xl border-l-4 border-gray-400"
                mat-dialog-title>
                {{ sTitle }}
            </div>
            <div mat-dialog-content>
                <form [formGroup]="statusForm">
                    <div class="flex flex-col m-1">
                        <section class="flex flex-col md:flex-row">
                            <div class="flex flex-col grow">
                                <mat-label class="ml-2 text-base">Status</mat-label>
                                <mat-form-field class="m-1 form-element grow" appearance="outline">
                                    <input matInput placeholder="Status" formControlName="status" />
                                </mat-form-field>
                            </div>
                        </section>

                        <div class="flex flex-col grow">
                            <mat-label class="ml-2 text-base">Description</mat-label>
                            <mat-form-field class="m-1 form-element" appearance="outline">
                                <input matInput placeholder="Type Description" formControlName="description" />
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>
            <div mat-dialog-actions>
                <button mat-icon-button color=primary class="m-1" (click)="onUpdate($event)" matTooltip="Update"
                    aria-label="Button that displays a tooltip when focused or hovered over">
                    <mat-icon>update</mat-icon>
                </button>
                <button mat-icon-button color=primary class="m-1" (click)="onCreate($event)" matTooltip="Add"
                    aria-label="Button that displays a tooltip when focused or hovered over">
                    <mat-icon>add</mat-icon>
                </button>
                <button mat-icon-button color=primary class="m-1" (click)="onDelete($event)" matTooltip="Delete"
                    aria-label="Button that displays a tooltip when focused or hovered over">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button color=primary class="m-1" (click)="closeDrawer()" matTooltip="Cancel"
                    aria-label="Button that displays a tooltip when focused or hovered over">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
    </mat-card>
</mat-drawer>
<mat-drawer-container class="flex-col h-full">
    <ng-container>
        <grid-menubar [inTitle]="'Kanban Status Maintenance'"></grid-menubar>

        <div class="flex flex-col h-150">
            <ejs-grid #normalized id="Normalgrid"
                [dataSource]="kanbanService.statusList()"
                allowPaging="true"
                [rowHeight]='30' [allowSorting]="true" [allowFiltering]="true" [filterSettings]="filterSettings"
                [editSettings]="editSettings" [toolbar]="toolbar" [sortSettings]="initialSort"
                (actionComplete)="actionComplete($event)" [pageSettings]="pageSettings">
                <e-columns>
                    <e-column field="Status" headerText="Status" width="140" isPrimaryKey="true"></e-column>
                    <e-column field="description" headerText="Description"></e-column>
                </e-columns>
            </ejs-grid>
        </div>

    </ng-container>
</mat-drawer-container>
