<div
  class="flex flex-col min-w-0 overflow-y-auto -px-10"
  id="hero"
  cdkScrollable
>
  <div class="relative z-20 mx-auto">
    <nav class="z-50 flex items-center justify-between text-2xl text-gray-900">
      <button (click)="login()" class="pl-10 visiable xl:visible">
        <img
          class="p-1.5 w-40 h-40 m-2 bg-slate-700 rounded-lg shadow hover:caret-context-menu"
          src="favicon-32x32.png"
        />
        <div
          class="p-1 text-3xl text-gray-900 dark:text-gray-100 font-garamond hover:border-b"
        >
          Noble Ledger v0.0.4.48
        </div>
      </button>

      <div class="flex-row">
        <div class="hidden md:flex flex-1 h-10 mr-4 text-3xl md:space-x-6">
          <div class="text-gray-700 uppercase dark:text-gray- text-1xl group">
            <button
              (click)="onScrollTo('features')"
              class="p-2 -mt-5 uppercase rounded-lg dark:text-gray-200 font-garamond hover:border-b hover:text-gray-100 hover:bg-gray-600"
            >
              Features
            </button>
          </div>

          <div
            class="text-gray-700 uppercase dark:text-gray-100 text-1xl group"
          >
            <button
              (click)="onScrollTo('services')"
              class="p-2 -mt-5 uppercase rounded-lg dark:text-gray-200 font-garamond hover:border-b hover:text-gray-100 hover:bg-gray-600"
            >
              Services
            </button>
          </div>

          <div
            class="text-gray-700 uppercase dark:text-gray-100 50 group font-garamond"
          >
            <button
              (click)="onScrollTo('about-us')"
              class="p-2 -mt-5 uppercase rounded-lg dark:text-gray-200 font-garamond hover:border-b hover:text-gray-100 hover:bg-gray-600"
            >
              About Us
            </button>
          </div>
          @if(authService.user() !== undefined) {
          <div
            class="text-gray-700 uppercase dark:text-gray-100 text-1xl group"
          >
            <button
              (click)="logout()"
              class="p-2 -mt-5 uppercase rounded-lg dark:text-gray-200 font-garamond hover:border-b hover:text-gray-100 hover:bg-gray-600"
            >
              logout
            </button>
          </div>
          } @else {
          <div
            class="text-gray-700 uppercase dark:text-gray-100 text-1xl group"
          >
            <button
              (click)="login()"
              class="p-2 -mt-5 uppercase rounded-lg dark:text-gray-200 font-garamond hover:border-b hover:text-gray-100 hover:bg-gray-600"
            >
              login
            </button>
          </div>
          }
        </div>
      </div>
    </nav>
  </div>
</div>
